*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    padding: 20px;
    background-color: tomato;
    color: #fff;
}
.header a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.admin_body{
    background-color: #e4ebe8;
}
.sidebar_admin{
    text-align: center;
    background-color: #fff;
    height: 100%;
}
.admin_footer{
    text-align: center;
    padding: 10px 0;
    background-color: tomato;
    color: #fff;
    
}
.admin_footer p{
    margin-bottom: 0;
}